---

---

<div class="Info">
	<div class="titleSection">
		<h1>Dynamic Content Control</h1>
	</div>
	
	<div class="bodySection">
		<p>
			This plugin uses SessionStorage and LocalStorage to track the user's browsing context.
			<br/><br/>
			v0.2 - scalability added. You can now write short helper functions and choose what context you want them to be triggered on. An example helper function is provided, containing simple code for changing a link, changing a class, and changing text content.
			<br/><br/>
			URL parameter syntax examples:
			<ul>
				<li>
					Default/Reset: <a href="/?browsing-context=default">?browsing-context=default</a>
				</li>
				<li>
					Basic Test: <a href="/?browsing-context=default">?browsing-context=test</a>
				</li>
				<li>
					Healthcare: <a href="/?browsing-context=healthcare">?browsing-context=healthcare</a>
				</li>
			</ul>
		</p>
	</div>
	<div class="authorSection">
		<!--<p>Alec Reimel | <a href="#">Planet Caravan Studios</a></p>-->
		<p>Alec Reimel | <a href="https://thegrovery.com">The Grovery</a></p>
		
	</div>
</div>


<style>
	.Info{
		height: 100%;
	}
	.titleSection{
		height: 100px;
		padding:var(--padding-1);
		border-bottom: solid var(--border-width) var(--border-color);
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.bodySection{
		height: calc(100% - 200px);
		overflow-y: scroll;
		padding:var(--padding-1);
	}
	.authorSection{
		height: 100px;
		padding:var(--padding-1);
		border-top: solid var(--border-width) var(--border-color);
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
