---

---

<div class="Info">
	<div class="titleSection">
		<h1>Dynamic Content Control</h1>
	</div>
	
	<div class="bodySection">
		<p>
			This Plugin uses SessionStorage and LocalStorage to track the user's browsing context.
			<br/><br/>
			This is tailored specifically to updating a single linkwith a specific context, not set up for scalability yet.
			<br/><br/>
			URL parameter syntax:
			<ul>
				<li>
					Default/Reset: ?browsing-context=default
				</li>
				<li>
					Healthcare: ?browsing-context=healthare
				</li>
			</ul>
		</p>
	</div>
	<div class="authorSection">
		<p>Alec Reimel | <a href="#">Planet Caravan Studios</a></p>
		
	</div>
</div>


<style>
	.Info{
		height: 100%;
	}
	.titleSection{
		height: 100px;
		padding:var(--padding-1);
		border-bottom: solid var(--border-width) var(--border-color);
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.bodySection{
		height: calc(100% - 200px);
		overflow-y: scroll;
		padding:var(--padding-1);
	}
	.authorSection{
		height: 100px;
		padding:var(--padding-1);
		border-top: solid var(--border-width) var(--border-color);
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
